<mat-card class="mat-card">
    <mat-card-header>
        <div mat-card-avatar>
            <mat-icon color="primary">search</mat-icon>
        </div>
        <mat-card-title>
            Search
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="searchForm"
            novalidate
            autocomplete="off">
            <div class="container" fxLayout="column">
                <div fxFlex="100%">                    
                    <mat-button-toggle-group
                        #group="matButtonToggleGroup"
                        id="category"
                        formControlName="category"
                        appearance="legacy">
                        <mat-button-toggle value="teams" aria-label="Teams">
                            Teams
                        </mat-button-toggle>
                        <mat-button-toggle value="players" aria-label="Players">
                            Players
                        </mat-button-toggle>
                        <mat-button-toggle value="events" aria-label="Events">
                            Events
                        </mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
            
                <div fxFlex="100%">
                    <mat-form-field>
                        <input type="text"
                            matInput
                            id="input"
                            formControlName="input"
                            (input)="triggerSearch()" />
                    </mat-form-field>
                </div>
            </div>
        </form>
    </mat-card-content>
</mat-card>