<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-button
                routerLinkActive="mat-accent"
                routerLink="/home">
                <mat-icon>home</mat-icon>
                <span>Sport Portal</span>
        </button>
        <button mat-button
                routerLinkActive="mat-accent"
                routerLink="/search">
                <mat-icon>search</mat-icon>
                <span>Search</span>
        </button>
        <button mat-button
                routerLinkActive="mat-accent"
                routerLink="/league"
                [disabled]="!store.league">
                <img *ngIf="store.league"
                [alt]="store.league.strSport"
                [src]="'https://www.thesportsdb.com/images/icons/' + store.league.strSport + '.png'" />
                {{ store.league ? store.league.strSport : 'Sport' }}
        </button>
        <button mat-button
                routerLinkActive="mat-accent"
                routerLink="/team"
                [disabled]="!store.country">
                {{ store.country ? store.country.strCountry : 'Country' }}
        </button>
        <span class="header-spacer"></span>
    </mat-toolbar-row>
</mat-toolbar>