<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-button
                routerLink="/home">
                Sport Portal
        </button>
        <button mat-button
                routerLink="/league"
                [disabled]="!store.league">
                Leagues
        </button>
        <button mat-button
                routerLink="/team"
                [disabled]="!store.country">
                Teams
        </button>
        <span class="header-spacer"></span>
        <button mat-button
                routerLink="/home"
                *ngIf="store.league">
                {{ store.league.strSport }}
                <span *ngIf="store.country">
                    {{ store.country.strCountry }}
                </span>
        </button>
    </mat-toolbar-row>
</mat-toolbar>