<div class="container" fxLayout="row">
    <div fxFlex="100%">
        <mat-card class="mat-card">
            <mat-card-header>
                <mat-card-title>{{ leaguesList.length }} Leagues</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <table mat-table [dataSource]="leaguesList">
                    <ng-container matColumnDef="strLeague">
                        <th mat-header-cell *matHeaderCellDef>League</th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-button
                            color="primary"
                                    (click)="selectCountry(element)"
                                    [routerLink]="'/league/' + element.idLeague">
                                {{ element.strLeague }}
                            </button>
                        </td>
                    </ng-container>
                
                    <ng-container matColumnDef="strCountry">
                        <th mat-header-cell *matHeaderCellDef>Country</th>
                        <td mat-cell *matCellDef="let element">{{ element.strCountry }}</td>
                    </ng-container>
                    
                    <ng-container matColumnDef="strLeagueAlternate">
                        <th mat-header-cell *matHeaderCellDef>Full name</th>
                        <td mat-cell *matCellDef="let element">{{ element.strLeagueAlternate }}</td>
                    </ng-container>
                    
                    <ng-container matColumnDef="intFormedYear">
                        <th mat-header-cell *matHeaderCellDef>Formed year</th>
                        <td mat-cell *matCellDef="let element">{{ element.intFormedYear }}</td>
                    </ng-container>
                    
                    <ng-container matColumnDef="strWebsite">
                        <th mat-header-cell *matHeaderCellDef>Website</th>
                        <td mat-cell *matCellDef="let element">{{ element.strWebsite }}</td>
                    </ng-container>
                    
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </mat-card-content>
        </mat-card>
    </div>
</div>

