<div class="container" fxLayout="row wrap">
    <div fxFlex="100%">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    {{ this.store.league.strSport }} Leagues
                </mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <mat-accordion>
                    <mat-expansion-panel *ngFor="let country of (leagues$ | async | groupBy:'strCountry'); trackBy: trackByFn;">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <img [src]="'https://www.thesportsdb.com/images/icons/flags/shiny/16/' + country.key +'.png'"
                                    alt="Logo"
                                    width="20" />
                                    {{ country.key }}
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                    
                        <ng-container *ngFor="let league of country.value; trackBy: trackByFn;">
                            <button mat-button
                                [routerLink]="'/league/' + league.idLeague"
                                (click)="selectCountry(league.strCountry)"
                                color="primary">
                                <img *ngIf="league.strLogo || league.strBadge; else noImage"
                                    [matTooltip]="league.strLeague"
                                    [src]="league.strBadge ? league.strBadge : league.strLogo"
                                    [alt]="league.strLeague"
                                    width="50" />
                                <ng-template #noImage>
                                    <p>{{ league.strLeague }}</p>
                                </ng-template>
                            </button>
                        </ng-container>
                    </mat-expansion-panel>
                </mat-accordion>
            </mat-card-content>
        </mat-card>
    </div>
</div>
