<div class="container" fxLayout="row">
    <div fxFlex="30%">
        <mat-card class="mat-card">
            <mat-card-header>
                <mat-card-title>{{ team.strTeam }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-list>
                    <mat-list-item>League: {{ team.strLeague }}</mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>Formed year: {{ team.intFormedYear }}</mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>Manager: {{ team.strManager }}</mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>Stadium: {{ team.strStadium }}</mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>Capacity: {{ team.intStadiumCapacity }}</mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>Location: {{ team.strStadiumLocation }}</mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>

        <mat-card class="mat-card">
            <mat-card-header>
                <mat-card-title>Last {{ events.length }} events</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-chip-list>
                    <mat-chip *ngFor="let event of events;">
                        {{ event.strEvent }}
                        <span *ngIf="event.intHomeScore && event.intAwayScore">
                            &nbsp;({{ event.intHomeScore }} : {{ event.intAwayScore }})
                        </span>
                    </mat-chip>
                </mat-chip-list>
            </mat-card-content>
        </mat-card>
    </div>

    <div fxFlex="40%">
        <mat-card class="mat-card">
            <mat-card-header>
                <mat-card-title>{{ players.length }} Players</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <table mat-table [dataSource]="players">                    
                    <ng-container matColumnDef="strPlayer">
                        <th mat-header-cell *matHeaderCellDef>Player</th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-button
                                    color="primary"
                                    [routerLink]="'/player/' + element.idPlayer">
                                {{ element.strPlayer }}
                            </button>
                        </td>
                    </ng-container>
                
                    <ng-container matColumnDef="strPosition">
                        <th mat-header-cell *matHeaderCellDef>Position</th>
                        <td mat-cell *matCellDef="let element">{{ element.strPosition }}</td>
                    </ng-container>
                    
                    <ng-container matColumnDef="dateBorn">
                        <th mat-header-cell *matHeaderCellDef>Date born</th>
                        <td mat-cell *matCellDef="let element">{{ element.dateBorn | date }}</td>
                    </ng-container>
                    
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </mat-card-content>
        </mat-card>
    </div>

    <div fxFlex="30%">
        <mat-card class="mat-card">
                <mat-card-header>
                    <mat-card-title>Description</mat-card-title>
                </mat-card-header>
            <mat-card-content>
                <p>{{ team.strDescriptionEN }}</p>
            </mat-card-content>
        </mat-card>
    </div>
</div>