<div class="container"
     fxLayout="row wrap"
     *ngFor="let player of (player$ | async); trackBy: trackByFn;">
    <div fxFlex="20%">
        <mat-card class="mat-card">
            <mat-card-header>
                <mat-card-title>{{ player.strPlayer }}</mat-card-title>
            </mat-card-header>
            <img mat-card-image *ngIf="player.strThumb"
                                [src]="player.strThumb"
                                [alt]="player.strPlayer" />
            <mat-card-content>
                <mat-list>
                    <mat-list-item>
                        <button mat-button
                                color="primary"
                                [routerLink]="'/team/' + player.idTeam">{{ player.strTeam }}</button>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <mat-icon color="primary"
                        matTooltip="Position">swap_horiz</mat-icon>
                        &nbsp;{{ player.strPosition ? player.strPosition : 'n/a' }}
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <mat-icon color="primary"
                        matTooltip="Location">room</mat-icon>
                        &nbsp;{{ player.strBirthLocation ? player.strBirthLocation : 'n/a' }}
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <mat-icon color="primary"
                        matTooltip="Nationality">public</mat-icon>
                        &nbsp;{{ player.strNationality ? player.strNationality : 'n/a' }}
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <mat-icon color="primary"
                        matTooltip="Height">height</mat-icon>
                        &nbsp;{{ player.strHeight ? player.strHeight : 'n/a' }}
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <mat-icon color="primary"
                        matTooltip="Weight">accessibility</mat-icon>
                        &nbsp;{{ player.strWeight ? player.strWeight : 'n/a' }}
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <mat-icon color="primary"
                        matTooltip="Date born">calendar_today</mat-icon>
                        &nbsp;{{ player.dateBorn ? (player.dateBorn | date) : 'n/a' }}
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>

    <div fxFlex="40%">
        <mat-card class="mat-card">
            <mat-card-header>
                <mat-card-title>Description</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>{{ player.strDescriptionEN }}</p>
            </mat-card-content>
        </mat-card>
    </div>
    
    <div fxFlex="40%">
        <mat-card class="mat-card">
            <mat-card-header>
                <mat-card-title>Honors</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-chip-list *ngIf="(honors$ | async); else noHonors">
                    <mat-chip *ngFor="let honor of (honors$ | async); trackBy: trackByFn;">
                        {{ honor.strHonour }}
                        {{ honor.strSeason }}
                    </mat-chip>
                </mat-chip-list>

                <ng-template #noHonors>
                    <p>No honors available.</p>
                </ng-template>
            </mat-card-content>
        </mat-card>
    </div>
</div>