<div class="container" fxLayout="row wrap">
    <div fxFlex="80%">
        <div class="container" fxLayout="row wrap">
            <div fxFlex="20%" *ngFor="let sport of sportsList;">
                <mat-card class="mat-card">
                    <img mat-card-image [src]="sport.strSportThumb"
                                        [alt]="sport.strSport"
                                        (click)="selectLeague(sport)"
                                        routerLink="/league" />
                    <mat-card-content>
                        <img [src]="'https://www.thesportsdb.com/images/icons/' + sport.strSport + '.png'" />
                        {{ sport.strSport }}
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>

    <div fxFlex="20%">
        <mat-card class="mat-card">
            <mat-card-header>
                <mat-card-title>
                    {{ searchToggle.value ? 'Player' : 'Team' }} search
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <form novalidate>
                    <mat-form-field>
                        <input type="text"
                            matInput
                            [formControl]="myControl"
                            [matAutocomplete]="auto"
                            (keyup.enter)="enterTeam($event)"
                            (input)="triggerSearchTeam($event.target.value)" />
                        <mat-autocomplete autoActiveFirstOption
                                          #auto="matAutocomplete">
                            <mat-option *ngFor="let option of filteredOptions | async"
                                        (click)="selectTeam(option.id)"
                                        [value]="option.id">
                                {{ option.name }}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                    
                    Team
                    <mat-slide-toggle
                        (click)="options = []"
                        [formControl]="searchToggle">
                    </mat-slide-toggle>
                    Player
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>
