<div class="container" fxLayout="row">
    <div fxFlex="100%">
        <div class="container" fxLayout="row wrap">
            <div fxFlex="20%"
            fxFlex.sm="33%"
            fxFlex.xs="50%"
            *ngFor="let sport of sportsList;">
                <mat-card class="mat-card">
                    <img mat-card-image [src]="sport.strSportThumb"
                                        [alt]="sport.strSport"
                                        (click)="selectLeague(sport)"
                                        routerLink="/league" />
                    <mat-card-content>
                        <img [src]="'https://www.thesportsdb.com/images/icons/' + sport.strSport + '.png'"
                        [alt]="sport.strSport" />
                        {{ sport.strSport }}
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>
